@import "flex-temp";

:host {
  height: 56px;
  display: flex;
  @extend %flexAlignCenterJustStart;
  border-bottom: 1px solid rgb(118, 106, 200);
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.title {
  font-size: 20px;
  font-weight: bold;
  padding-left: 25px;
  color: rgb(118, 106, 200);;
}
