$green: #15B65A;
$blue: #21B1FF;
$red: red;
$yellow: #ffc633;
$black: #1F1F1F;
$disableBg: rgba(0, 0, 0, .12);
$disableText: rgba(0, 0, 0, .26);
$darkblue: #3f51b5;
$progressBarIndex: 999;
$toolbarIndex: 50;
$toggleButtonIndex: 51;
$swiperIndex: 1;
$swiperSlideIndex: 5;
$swiperButtonIndex:6;
$swiperSpinner: 10;
$markerCopyZoomIndex: 999;
$lan_lat: 2;
$mapCopy: 2;
$mapShadow: 2;
$mapMessage: 999;
$mapSpinner: 3;
$mapCoordinates: 3;
$createButton: 999;
$tableParentIndex: 1000;
$columnInner: 2;
$theadTfoot: 2;
$tableTh: 999;
$tdLastChild: 998;
$firstChild: 3;
$nthChild: 2;
$lastChild: 1;
$wrapperIcon: 2;
$wrapperName: 1;
$footer: 1;
$title: 999;
$slide: 1;
$shadow: 999999999;
$main: 9999999999;
$stepperFirstChild: 4;
$stepperNthChild2: 3;
$stepperNthChild3: 2;
$stepperLastIndex: 1;
$indicators: 2;
$deviceDetailTh: 999;
$deviceDetailColumnInner: 2;
$deviceDetailLastChild: 998;

